@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

body {
  font-family: "Roboto Mono", sans-serif;
}

.card-wrapper {
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 2px solid #555;
  padding: 20px;

  box-shadow: 5px 5px 10px #555;
}

.card-text {
  font-size: 30px;
  color: dodgerblue;
}

.wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

/* //--------------------------- */

.header {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.para {
  font-size: 10px;
  text-align: center;
}
/* 
--------------------------------- */

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
}

.links-conatiner {
  display: flex;
  list-style: none;
  margin: 20px;
  gap: 20px;
  font-weight: 900;
  color: #a7a1a1;
}

li {
  cursor: pointer;
}

.active {
  color: black;
}
